:root {
  --body-background: #f2f2f2;
  --body-color: #444;
  --button-color: #f2f2f2;
  --heading-color: black;
  --action-color: #d64045;
  --footer-color: #00b1de;
  --yellow: #fdda38;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: "Oswald", -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

h1 {
  margin: 1rem 0 1rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

h2 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  max-width: 65rem;
  min-height: calc(100vh - 200px);
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3rem;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

button {
  border: none;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: #00b1de;
  background-image: linear-gradient(to top right, #00b1de, #0054a3);
  color: black;
  font-weight: 800;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.6s ease;
}

button:hover {
  background-color: #0073de;
  color: var(--button-color);
  box-shadow:
    0 4px 30px rgba(4, 175, 255, 0.1),
    0 2px 30px rgba(11, 158, 255, 0.06);
}

.card {
  position: relative;
  border-radius: 1rem;
  padding: 15px 25px;
  background-color: #a9bae8;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 50rem;
  backdrop-filter: blur(5px);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}